<br>
<h1>Breeding Page</h1>
<style>
         .big-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
            margin: 0;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }
        input[type="text"] {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="date"] {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
    }
        input[type="submit"] {
            width: 95%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
    <div class="big-container">
    <div class="form-container">
        <form action="#" method="POST">
            <label>Female</label>
            <input type="text" name="field1"><br>
            <label>Male</label>
            <input type="text" name="field2"><br>
            <label>Bred Date</label>
            <input type="date" name="field3"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    </div>