<style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
    <br>
    <br>
    <br>
<h2>Ferret Database</h2>

<table>
    <thead>
        <tr>
            <th>Ferret ID</th>
            <th>Date of Birth</th>
            <th>Genotype</th>
            <th>Identifiers</th>
            <th>Location</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2021-03-15</td>
            <td>AA</td>
            <td>Microchip-001, Collar-Green</td>
            <td>New York, NY</td>
            <td>Sarah Johnson</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2019-06-21</td>
            <td>AB</td>
            <td>Microchip-002, Collar-Blue</td>
            <td>Los Angeles, CA</td>
            <td>Mark Davidson</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2020-01-10</td>
            <td>BB</td>
            <td>Tattoo-003, Collar-Red</td>
            <td>Chicago, IL</td>
            <td>Emily Harris</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2022-11-07</td>
            <td>AA</td>
            <td>Microchip-004, Collar-Yellow</td>
            <td>Miami, FL</td>
            <td>Alex Thompson</td>
        </tr>
        <tr>
            <td>5</td>
            <td>2020-08-30</td>
            <td>AB</td>
            <td>Microchip-005, Collar-Black</td>
            <td>Denver, CO</td>
            <td>Lisa Williams</td>
        </tr>
        <tr>
            <td>6</td>
            <td>2018-12-17</td>
            <td>BB</td>
            <td>Tattoo-006, Collar-Purple</td>
            <td>Houston, TX</td>
            <td>James Wilson</td>
        </tr>
        <tr>
            <td>7</td>
            <td>2021-07-19</td>
            <td>AA</td>
            <td>Microchip-007, Collar-Orange</td>
            <td>Seattle, WA</td>
            <td>Amy Brown</td>
        </tr>
        <tr>
            <td>8</td>
            <td>2022-05-05</td>
            <td>AB</td>
            <td>Microchip-008, Collar-Pink</td>
            <td>Boston, MA</td>
            <td>Kevin Lewis</td>
        </tr>
        <tr>
            <td>9</td>
            <td>2019-09-22</td>
            <td>BB</td>
            <td>Tattoo-009, Collar-White</td>
            <td>Phoenix, AZ</td>
            <td>Claire Martin</td>
        </tr>
        <tr>
            <td>10</td>
            <td>2020-02-14</td>
            <td>AA</td>
            <td>Microchip-010, Collar-Green</td>
            <td>Austin, TX</td>
            <td>Michael Scott</td>
        </tr>
        <tr>
            <td>11</td>
            <td>2017-11-28</td>
            <td>AB</td>
            <td>Microchip-011, Collar-Blue</td>
            <td>Portland, OR</td>
            <td>Laura King</td>
        </tr>
        <tr>
            <td>12</td>
            <td>2021-10-10</td>
            <td>BB</td>
            <td>Tattoo-012, Collar-Red</td>
            <td>San Diego, CA</td>
            <td>George Harris</td>
        </tr>
        <tr>
            <td>13</td>
            <td>2022-03-03</td>
            <td>AA</td>
            <td>Microchip-013, Collar-Yellow</td>
            <td>Dallas, TX</td>
            <td>Jennifer Adams</td>
        </tr>
        <tr>
            <td>14</td>
            <td>2020-12-18</td>
            <td>AB</td>
            <td>Microchip-014, Collar-Black</td>
            <td>Minneapolis, MN</td>
            <td>David Clark</td>
        </tr>
        <tr>
            <td>15</td>
            <td>2019-01-09</td>
            <td>BB</td>
            <td>Tattoo-015, Collar-Purple</td>
            <td>San Francisco, CA</td>
            <td>Rachel Moore</td>
        </tr>
        <tr>
            <td>16</td>
            <td>2021-04-20</td>
            <td>AA</td>
            <td>Microchip-016, Collar-Orange</td>
            <td>Atlanta, GA</td>
            <td>Sophia Turner</td>
        </tr>
        <tr>
            <td>17</td>
            <td>2018-06-15</td>
            <td>AB</td>
            <td>Microchip-017, Collar-Pink</td>
            <td>Detroit, MI</td>
            <td>Henry Baker</td>
        </tr>
        <tr>
            <td>18</td>
            <td>2022-09-09</td>
            <td>BB</td>
            <td>Tattoo-018, Collar-White</td>
            <td>Miami, FL</td>
            <td>Natalie Green</td>
        </tr>
        <tr>
            <td>19</td>
            <td>2019-08-08</td>
            <td>AA</td>
            <td>Microchip-019, Collar-Green</td>
            <td>Philadelphia, PA</td>
            <td>Brian Allen</td>
        </tr>
        <tr>
            <td>20</td>
            <td>2021-12-12</td>
            <td>AB</td>
            <td>Microchip-020, Collar-Blue</td>
            <td>Las Vegas, NV</td>
            <td>Olivia Foster</td>
        </tr>
    </tbody>
</table>
