<h1>Editing ferret db</h1>

<%= render "form", ferret_db: @ferret_db %>

<br>

<div>
  <%= link_to "Show this ferret db", @ferret_db %> |
  <%= link_to "Back to ferret dbs", ferret_dbs_path %>
</div>
